.body {
  background-color: rgb(16, 16, 51);
  background-image: url("sa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

